.body{
    background-color: gray;
    margin: 0PX;
}
.main{
    background-color: white;
    margin: 5px;
}
.footer{
    background-color: white;
    padding: 1px;
}
.header{
    background-color: gray ;
    padding: 10px;
    position: fixed;
   text-align: center;
   display: flex;
   justify-content: space-around;
   top: 0px;
   height: 40px;
   width: 100vw;
}
img{
    width: 100vw;
    height: 300px;
}
#tailbar{
    background-color: white;
    padding: 30px;
    margin: 0px;

}
.holboobarih{
    background-color: white;
  
}
.footer2{
    background-color: gray;
    padding: 1px;
}